.header__logo {
  font-family: 'Fugaz One', cursive;
  font-size: 6rem;
  color: $color-primary-light-1;
  text-transform: uppercase;
  padding-top: 2rem;
}

.heading-secondary {
  color: $color-primary-light-2;
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-tertiary {
  
}
