.header__logo {
  font-family: 'Fugaz One', cursive;
  font-size: 5rem;
  color: $color-primary-light-1;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-left: 1rem;

  @include for-size(desktop-up) {
    font-size: 6rem;
  }
}

.heading-secondary {
  color: $color-primary-light-2;
  font-size: 4rem;
  text-transform: uppercase;

  &--1 {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: -9rem;
    margin-bottom: 2rem;
    text-align: center;

    @include for-size(tablet-port-up) {
      font-size: 5rem;
    }
  }

  &--1 > span {
    color: $color-primary-light-1;
  }

  &--2 {
    font-size: 3.5rem;
    color: #26154f;
    margin-bottom: 2rem;
  }
}

.heading-tertiary {
  color: $color-primary-light-2;
  font-size: 2rem;
  text-transform: uppercase;

  &--1 {
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;

    @include for-size(tablet-port-up) {
      font-size: 3rem;
    }
  }

  &--2 {
    font-size: 2rem;
    color: #26154f;
  }
}
