.btn {
  border: none;
  padding: 0.5rem;
  cursor: pointer;

  &__fav {
    color: #fff;
    padding: 1rem;

    &--small {
      background-color: $color-primary-light-2;
      margin-top: 5px;
      width: 100%;
    }

    &--small2 {
      background-color: $color-primary-light-1;
    }

    &--big {
      background-color: $color-primary-light-2;
      width: 15rem;
    }

    &--big2 {
      background-color: $color-primary-light-1;
      width: 15rem;
    }

    &--watched {
      background-color: $color-primary-light-2;
    }

    &--watched2 {
      background-color: $color-primary-light-1;
    }

    &--watch-all {
      background-color: $color-primary-light-2;
      width: 50%;
    }

    &--unwatch-all {
      background-color: $color-primary-light-1;
      width: 50%;
    }
  }



  &__info {
    background-color: transparent;
    margin-bottom: 1rem;
  }

  &__tab {
    padding: 1.5rem;
    background: $color-primary-light-3;
    color: $color-primary-dark-1;
    height: 100%;

    @include for-size(tablet-port-up) {
      padding: 2rem;
    }

    &--active {
      background: $color-primary-light-2;
      color: #fff
    }
  }

  &__slider {
    z-index: 40;
    width: 4rem;
    position: relative;
    background-color: #fff;

    &-show--prev::before, &-bar--prev::before {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 11px;
      left: 14px;
      top: 14px;
      border-bottom: 4px solid #fec15e;
      border-left: 4px solid #fec15e;
      transform: rotate(45deg);
      z-index: 50;
    }
    &-show--next::after, &-bar--next::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 11px;
      right: 14px;
      top: 14px;
      border-top: 4px solid #fec15e;
      border-right: 4px solid #fec15e;
      transform: rotate(45deg);
      z-index: 50;
    }
  }


}
