.btn {
  border: none;
  padding: 0.5rem;
  cursor: pointer;

  &__fav {
    color: #fff;
    padding: 1rem;

    &--small {
      width: 100%;
      background-color: $color-primary-light-2;
      margin-top: 5px;
    }

    &--small2 {
      background-color: $color-primary-light-1;
    }

    &--big {
    background-image: linear-gradient(to right, orange, red);
    border-radius: 5px;
    width: 20rem;
    }

    &--big2 {
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgb(26, 17, 17));
    border-radius: 5px;
    width: 20rem;
    }
  }



  &__info {
    background-color: transparent;
    margin-bottom: 1rem;
  }

  &__tab {
    padding: 2rem;

    &--active {
      background: $color-primary-dark-2;
      color: #fff
    }
  }


}