.btn {
  border: none;
  padding: 0.5rem;
  cursor: pointer;

  &--fav-small {
    background-image: linear-gradient(to right, orange, red);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;

  }

  &--fav-small2 {
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgb(26, 17, 17));
    color: #fff;
    padding: 1rem;
    border-radius: 5px;

  }

  &--info {
    background-color: transparent;
    margin-bottom: 1rem;
  }
}