.cast {
  display: flex;
  flex-direction: column;
  flex: 0 0 32%;
  background-color: #fff;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  box-shadow: $shadow-light;

  @include for-size(tablet-port-up) {
    flex-direction: row;
    flex: 0 0 24.5%;
  }

  &__img {
    width: 100%;

    @include for-size(tablet-port-up) {
      width: 125px;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  &__character {
    font-size: 1.5rem;
  }

}