.results {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.results-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 19%;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 0 1rem;
  background-color: #fff;

  &__img {
    width: 100%;
  }

  &__name {
    font-size: 2rem;
  }

  &__network {
    font-size: 2rem;
  }
}