.schedule-item {
  display: flex;
  flex: 0 0 95%;
  max-width: 55rem;
  margin: 1rem 0.5rem 0 0.5rem;
  background-color: #fff;
  position: relative;
  box-shadow: $shadow-light;
  justify-content: space-between;
  color: $color-primary-dark-1;

  @include for-size(tablet-port-up) {
    flex: 0 0 39rem;
  }

  &__img-box {
    position: relative;
    display: flex;
  }

  &__details-box {
    display: flex;
    flex: 0 0 53%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    position: relative;
  }


  &__img {
    width: 100%;
    display: block;
  }

  &__episode-name {
    font-size: 1.5rem;
  }

  &__airdate {
    font-size: 1.5rem;
  }

  &__relative {

  }


  &__name {
    font-size: 2rem;
    text-align: center;
    padding-top: 5rem;
  }

  &__network {
    font-size: 2rem;
    text-align: center;
  }

  &__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    width: 12rem;
    height: 12rem;
    fill: #fff
  }
}