.upcoming-bar {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 0.5rem;
  color: $color-primary-dark-1;

  &__header {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__empty {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex: 0 0 100%;
    max-width: 30rem;
    list-style: none;

  }

  &__item {
    flex: 0 0 29rem;
    font-size: 1.5rem;
  }

  &__info, &__date {
    text-align: center;
  }

}
