.content {
  display: flex;
  background-color: $color-primary-dark-1;
  min-height: 70rem;
  flex-direction: column;

  &__heading {
    padding: 2rem;
    background-color: $color-primary-dark-3;
  }
}