.content {
  display: flex;
  min-height: 90vh;
  align-items: flex-start;

  &__heading {
    margin-bottom: 1rem;
    flex: 0 0 100%;
  }
}


.results {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
}

.hp-box {
  background: url(/img/comfortable-female-food-1040158.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
}