.header {
  display: flex;
  background-color: $color-primary-dark-1;
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: auto;

  @include for-size(tablet-land-up) {
    align-items: center;
    flex-direction: row;
  }
}