.nav {
  flex: 1;

  &__list {
  list-style: none;
  font-size: 1.4rem;
  margin-right: 4rem;
  display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;

  }

  &__link:link,
  &__link:visited  {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;

    }
}