.nav {
  display: flex;
  font-size: 0.5rem;
  opacity: 0;
  height: 100vh;
  position: fixed;
  align-items: center;
  width: 0;
  background-color: $color-primary-light-2;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);



  @include for-size(tablet-port-up){
    width: 100%;
    font-size: 1.4rem;
    height: auto;
    position: unset;
    top: unset;
    opacity: 1;
    background-color: unset;
    z-index: 1;
  }



  &__list {
  list-style: none;
  width: 100%;

  @include for-size(tablet-port-up){
    display: flex;
    margin-right: 4rem;
  }

  }

  &__item {
    display: flex;
    justify-content: center;

  }

  &__link:link,
  &__link:visited  {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;

    }

  &__checkbox {
    display: none;
  }


  &__checkbox:checked ~ & {
    opacity: 1;
    width: 100%;
    z-index: 1200;
    font-size: 3rem;

    @include for-size(tablet-port-up){
      display: none;
    }
}

  &__checkbox:checked ~ &__button {
    position: fixed;
  }


  &__button {
    height: 7rem;
    width: 7rem;
    z-index: 1400;
    text-align: center;
    cursor: pointer;
    right: 4px;
    top: 29px;
    position: absolute;

    @include for-size(tablet-port-up) {
      display: none;
    }
  }

  &__icon {
    position: relative;

    &,
    &::after,
    &::before {
      width: 4rem;
      height: .4rem;
      background-color: $color-primary-light-3;
      display: inline-block;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1.2rem;
      left: 0;
      transition: all .2s;

    }

    &::before {
      content: "";
      position: absolute;
      top: 1.3rem;
      left: 0;
      transition: all .2s;

    }
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);

  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);

  }



}